<app-title title="Defer Triggers"></app-title>

<section>

  <h1 class="text-xl font-bold">Interacciones</h1>
  <hr class="my-2">

  <!--? El defer tiene la capacidad de diferir la carga de un componente hasta que se cumpla una condición. En este caso, se carga el componente cuando el usuario interactúa con el elemento. -->
  <!--! El on interaction necesita un placeholder para poder ser activado. En este caso, el placeholder es un div que al ser clickeado, carga el componente. -->
  @defer (on interaction) {
    <app-heavy-loaders-fast cssClass="bg-red-500 h-20 flex justify-center items-center text-white">
      <span>On Interaction</span>

    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-slate-400 hover:bg-slate-500 flex justify-center items-center">
      <span class="text-white font-bold">On click in the div</span>
    </div>
  }
</section>

<section>

  <button
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-600 transition-all rounded text-white my-2">
    Click me!
  </button>
  <hr class="my-2">

  @defer ( on interaction (btnInteraction) ){
    <app-heavy-loaders-fast cssClass="bg-red-500 h-20 flex justify-center items-center text-white">
      <span>On Interaction</span>

    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-slate-400 hover:bg-slate-500 flex justify-center items-center">
      <span class="text-white font-bold">Placeholder div</span>
    </div>
  }
</section>

<section>

  <hr class="my-2">

  @defer ( on hover ){


    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20 flex justify-center items-center text-white">
      <span>On Hover</span>

    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-slate-400 hover:bg-slate-500 flex justify-center items-center">
      <span class="text-white font-bold">Placeholder div</span>
    </div>
  }
</section>

<section>

  <hr class="my-2">
  @defer ( on immediate ){


    <app-heavy-loaders-fast cssClass="bg-red-500 h-20 flex justify-center items-center text-white">
      <span>On Immediate</span>

    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-slate-400 hover:bg-slate-500 flex justify-center items-center">
      <span class="text-white font-bold">Placeholder div</span>
    </div>
  }
</section>

<section>

  <hr class="my-2">
  @defer ( on timer(3000) ){


    <app-heavy-loaders-fast cssClass="bg-green-500 h-20 flex justify-center items-center text-white">
      <span>On Timer</span>

    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-slate-400 hover:bg-slate-500 flex justify-center items-center">
      <span class="text-white font-bold">3 Second</span>
    </div>
  }
</section>


<section>

  <hr class="my-2">

  <!--* el prefetch se activa cuando el usuario no está interactuando con la página. En este caso, el componente se carga cuando el usuario no está interactuando con la página. -->
  <!--! El defer puede hacer peticiones en cascada -->
  @defer ( on hover; prefetch on idle ){


    <app-heavy-loaders-fast cssClass="bg-green-500 h-20 flex justify-center items-center text-white">
      <span>On Hover, Idle</span>

    </app-heavy-loaders-fast>
  } @placeholder {
    <div class="w-full h-20 bg-slate-400 hover:bg-slate-500 flex justify-center items-center">
      <span class="text-white font-bold">Placeholder div</span>
    </div>
  }
</section>
